*{
    margin: 0;
    padding: 0;
}

body{ /* To center main content */
    background-color: #f6f6f7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container { /* To set content background color and size */
    background-color: #fefefd;
    width: 1095px; /* Multiply the three picture sizes to fit the bg */
}

header img { /* Website Logo */
    padding: 20px 0px 20px 20px;
    width: 70px;
}

.gallery { /* Picture gallery layout */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 365px);
}

.gallery img { /* Picture sizing */
    width: 365px;
    height: 365px;
}

h2 { /* Text formatting */
    padding: 15px 15px 15px 15px;
    font-family: 'Roboto Mono', monospace;
    font-size: 13px;
    font-weight: 500;
    line-height: 22px;
}

footer{ /* Footer banner */
    padding: 24px 0px 24px 0px;
    text-align: center;
    background-color: #14181d;
    color: #FFFFFF;
    font-family: 'Anonymous Pro', monospace;
    font-size: 13px;
}

@media (width = 1024px) { /* For when the screen size is exactly at 1024px */
    .container {
        width: 1024px;
    }

    header img {
        padding: 10px 0px 10px 15px;
        width: 55px;
    }

    .gallery { /* Set picures to automatically fill gaps */
        grid-template-columns: repeat(3, auto-fill);
    }

    .gallery img {
        width: 324px;
        height: 324px;
    }

    h2 { /* For easier reading */
        font-size: 15px;
        line-height: 25px;
    }

    footer {
        padding: 20px 0px 20px 0px;
        font-size: 15px;
    }
}

@media (width <= 800px) { /* For when the screen size is less than or equal to 800px */
    .container {
        width: 800px;
    }

    header img {
        padding: 10px 0px 10px 15px;
        width: 55px;
    }

    .gallery {
        grid-template-columns: repeat(2, 400px);
    }

    .gallery img {
        width: 400px;
        height: 400px;
    }

    h2 {
        font-size: 14px;
        line-height: 25px;
    }

    footer {
        padding: 22px 0px 20px 0px;
        font-size: 14px;
        font-weight: 400;
    }
}

@media (width <= 480px) { /* For when the screen size is less than or equal to 480px */
    .container {
        width:480px;
    }

    header img {
        padding: 10px 0px 10px 15px;
        width: 50px;
    }

    .gallery {
        grid-template-columns: repeat(1, 480px);
    }

    .gallery img {
        width: 480px;
        height: 480px;
    }

    h2 {
        font-size: 14px;
        line-height: 25px;
    }

    footer {
        padding: 22px 0px 20px 0px;
        font-size: 14px;
        font-weight: 400;
    }
}